<!DOCTYPE html>

<html lang="en" class="ie8 no-js">
<html lang="en" class="ie9 no-js">
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>图像识别</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="#1 selling multi-purpose bootstrap admin theme sold in themeforest marketplace packed with angularjs, material design, rtl support with over thausands of templates and ui elements and plugins to power any type of web applications including saas and admin dashboards. Preview page of Theme #1 for statistics, charts, recent events and reports"
          name="description" />
    <meta content="" name="author" />
    <!--me-->
    <link rel="stylesheet" href="../../css/iconfont.css">

    <!-- 开始全局强制样式 -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- 结束全局强制样式 -->
    <!-- 开始页面级插件 -->
    <link href="../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- 结束页面级插件 -->
    <!-- 开始主题全局样式 -->
    <link href="../../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- 结束主题全局样式 -->
    <!-- 开始主题布局样式 -->
    <link href="../../assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../../assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- 结束主题布局样式 -->
    <link rel="shortcut icon" href="../../img/favicon.ico" />
</head>
<!-- 结束的头 -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- 开始头 -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- 开始头 -->
        <div class="page-header-inner ">
            <!-- 开始的标志 -->
            <div class="page-logo">
                <a href="">
                    <img src="../../assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" /> </a>
                <div class="menu-toggler sidebar-toggler">
                    <span></span>
                </div>
            </div>
            <!-- 结束标志-->
            <!-- 开始响应式菜单切换器 -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span></span>
            </a>
            <!-- 结束响应式菜单切换器 -->
            <!-- 开始顶部导航菜单 -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- 开始通知下拉-->
                    <!-- DOC: Apply "dropdown-dark" class after "dropdown-extended" to change the dropdown styte -->
                    <!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                    <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="icon-bell"></i>
                        </a>
                    </li>
                    <!-- 结束通知下拉 -->
                    <!-- 开始收件箱下拉 -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="icon-envelope-open"></i>
                        </a>
                    </li>
                    <!-- 结束收件箱下拉 -->
                    <!-- 开始TODO 下拉  -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="widget-thumb-icon icon-layers"></i>
                        </a>
                        <ul class="dropdown-menu extended tasks" style="width: 30px">
                            <li class="external">
                                <h3>
                                    <span class="bold">
                                        <a href="app_todo.html">文档</a>
                                    </span>
                                </h3>

                            </li>

                        </ul>
                    </li>
                    <!-- 结束 TODO 下拉 -->
                    <!-- 开始用户登录下拉菜单 -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <img alt="" class="img-circle" src="../static/assets/layouts/layout/img/avatar3_small.jpg"/>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="page_user_profile_1.html">
                                    <i class="icon-user"></i>用户中心</a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="/user/logout">
                                    <i class="icon-rocket"></i>切换用户</a>
                            </li>
                            <li>
                                <a href="/user/logout">
                                    <i class="icon-key"></i>退出</a>
                            </li>
                        </ul>
                    </li>
                    <!-- 结束用户登录下拉菜单 -->
                    <!-- 开始快速侧栏善变 -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                    <!-- 结束快速侧栏善变 -->
                </ul>
            </div>
            <!-- 结束顶部导航菜单 -->
        </div>
        <!-- 结束头内 -->
    </div>
    <!-- 结束头 -->
    <!-- 开始标题和内容分隔符 -->
    <div class="clearfix"> </div>
    <!-- 结束标题和内容分隔符 -->
    <!-- 开始容器 -->
    <div class="page-container">
        <!-- 开始栏 -->
        <div class="page-sidebar-wrapper">
            <!-- 开始栏 -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div th:insert="~{../templates/body/body ::sidebar}"></div>
            <!-- 结束侧边栏 -->
        </div>
        <!-- 结束侧边栏 -->
        <!-- 开始的内容 -->
        <!--        <div class="page-content-wrapper">-->
        <!--开始内容主体 -->
        <!--            <div class="page-content">-->
        <!--               -->
        <!--            </div>-->
        <div class="page-content-wrapper">
            <div class="page-content" style="min-height: 1548px;">

                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="/operation/index"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">首页</font></font></a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">编辑应用</font></font></span>
                        </li>
                    </ul>

                </div>
                <!-- END PAGE BAR -->
                <!-- BEGIN PAGE TITLE-->
                <h1 class="page-title">
                    <font style="vertical-align: inherit;">
                        编辑应用
                    </font>
                </h1>
                <!-- END PAGE TITLE-->
                <!-- END PAGE HEADER-->
                <div class="row">

                    <div class="col-md-6 " style="width: 55%">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-body form">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div id="warn" style="display: none">
                                            <h5 style="color: red; text-align:center">请填写完整在提交</h5>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><font
                                                    style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">应用名称</font></font></label>
                                            <div class="col-md-9">
                                                <input id="appName" th:value="${appl.applicationName}" type="text" class="form-control" placeholder="应用名称">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><font
                                                    style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">应用类型</font></font></label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="appType">
                                                    <option th:selected="${appl.applicationType==1}"><font style="vertical-align: inherit;" value="1">
                                                        <font style="vertical-align: inherit;">游戏娱乐</font></font>
                                                    </option>
                                                    <option th:selected="${appl.applicationType==2} "><font style="vertical-align: inherit;" value="2"><font
                                                            style="vertical-align: inherit;">工具应用</font></font>
                                                    </option>
                                                    <option th:selected="${appl.applicationType==3}"><font style="vertical-align: inherit;" value="3"><font
                                                            style="vertical-align: inherit;">学习工具</font></font>
                                                    </option>
                                                    <option th:selected="${appl.applicationType==4}"><font style="vertical-align: inherit;" value="4"><font
                                                            style="vertical-align: inherit;">智能硬件</font></font>
                                                    </option>
                                                    <option th:selected="${appl.applicationType==5}"><font style="vertical-align: inherit;" value="5"><font
                                                            style="vertical-align: inherit;">聊天社区</font></font>
                                                    </option>
                                                    <option th:selected="${appl.applicationType==6}"><font style="vertical-align: inherit;" value="6"><font
                                                            style="vertical-align: inherit;">其他</font></font>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><font
                                                    style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">接口选择</font></font>
                                            </label>
                                            <div class="col-md-9">
                                                <div th:each="api : ${apis}" class="mt-checkbox-inline">
                                                    <label class="mt-checkbox">
                                                        <input type="checkbox" th:checked="${#lists.contains(apiIds, api.id)}" name="api" th:value="${api.id}">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"> <span th:text="${api.apiName}"></span>
                                                            </font>
                                                        </font><span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><font
                                                    style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">描述</font></font></label>
                                            <div class="col-md-9">
                                                <textarea id="appDesc" class="form-control" rows="3"
                                                          placeholder="请控制在500字以内" th:text="${appl.description}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="button" class="btn green" onclick="myUpdate()"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">确定修改</font></font></button>
                                                <button type="button"  onclick="cancel()" class="btn default"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">取消</font></font></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- 结束内容主体 -->
        <!--</div>-->
        <!-- 结束内容 -->
        <!-- 开始 快捷栏 -->

        <!-- 结束 快捷栏 -->
    </div>
    <!-- 结束容器 -->
    <!-- 开始 页脚 -->
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- 开始 页脚 -->
</div>
<!-- 开始 快速导航-->
<input th:value="${appl.id}" type="text"  style="display: none" id="applicationId" />
<!-- 结束 快速导航 -->
<script type="text/javascript">
    function myUpdate() {
        var app = {}
        var id = document.getElementById("applicationId").value
        var warn = document.getElementById("warn")
        var name = document.getElementById("appName").value
        var type = document.getElementById("appType").selectedIndex+1
        var obj = document.getElementsByName("api")
        var apis = []
        for(o in obj){
            if (obj[o].checked){
                apis.push({"id":obj[o].value})
            }
        }
        var dec = document.getElementById("appDesc").value
        app["id"] = id
        app["applicationName"] =  name
        app["applicationType"] =  type
        app["description"] =  dec
        app["apis"] =  apis
        if(name==""||apis.length==0){
            warn.style.display = "block"
        }else {
            $.ajax({
                url : "/application/update",
                type : "POST",
                dateType : "json",
                contentType : "application/json;charset=UTF-8",
                data : JSON.stringify(app),
                success:function (result, status) {
                    if (status=="success"){
                        window.location.href = "/application/query/all"
                    }else {
                        warn.style.display = "block"
                    }

                }
            })
        }
    }
    function cancel() {
        window.location.href = "/application/query/all"
    }
</script>
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script>
<script src="../../assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- 开始 核心插件-->
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- 结束 核心插件 -->
<!-- 开始 页面级别的插件 -->
<script src="../../assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
<!-- 结束 页面级别的插件 -->
<!-- 开始主题全球脚本 -->
<script src="../../assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- 结束 主题全球脚本 -->
<!-- 开始 页面级别的脚本 -->
<script src="../../assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<!-- 结束 页面级别的脚本-->
<!-- 开始 主题布局脚本 -->
<script src="../../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="../../assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="../../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="../../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- 结束 主题布局脚本 -->
</body>

</html>