<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.testbuytrade.product.dao.propertyOptionMapper" >
  <resultMap id="BaseResultMap" type="com.test.testbuytrade.product.entity.propertyOption" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="property_id" property="propertyId" jdbcType="BIGINT" />
    <result column="option_name" property="optionName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update" property="update" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, property_id, option_name, create_time, update
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_property_option
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_property_option
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.test.testbuytrade.product.entity.propertyOption" >
    insert into t_property_option (id, property_id, option_name, 
      create_time, update)
    values (#{id,jdbcType=BIGINT}, #{propertyId,jdbcType=BIGINT}, #{optionName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{update,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.test.testbuytrade.product.entity.propertyOption" >
    insert into t_property_option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="propertyId != null" >
        property_id,
      </if>
      <if test="optionName != null" >
        option_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="update != null" >
        update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="propertyId != null" >
        #{propertyId,jdbcType=BIGINT},
      </if>
      <if test="optionName != null" >
        #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        #{update,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.testbuytrade.product.entity.propertyOption" >
    update t_property_option
    <set >
      <if test="propertyId != null" >
        property_id = #{propertyId,jdbcType=BIGINT},
      </if>
      <if test="optionName != null" >
        option_name = #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        update = #{update,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.testbuytrade.product.entity.propertyOption" >
    update t_property_option
    set property_id = #{propertyId,jdbcType=BIGINT},
      option_name = #{optionName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update = #{update,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>