<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.tyreadmin.repository.AdminMapper">
  <resultMap id="BaseResultMap" type="com.test.tyreadmin.entity.Admin">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="gtm_create" jdbcType="TIMESTAMP" property="gtmCreate" />
    <result column="gtm_modified" jdbcType="TIMESTAMP" property="gtmModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, admin_name, admin_password, gtm_create, gtm_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByName"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin
    where admin_name = #{username,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from admin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.test.tyreadmin.entity.Admin">
    insert into admin (id, admin_name, admin_password, 
      gtm_create, gtm_modified)
    values (#{id,jdbcType=BIGINT}, #{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{gtmCreate,jdbcType=TIMESTAMP}, #{gtmModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.test.tyreadmin.entity.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminPassword != null">
        admin_password,
      </if>
      <if test="gtmCreate != null">
        gtm_create,
      </if>
      <if test="gtmModified != null">
        gtm_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="gtmCreate != null">
        #{gtmCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gtmModified != null">
        #{gtmModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.tyreadmin.entity.Admin">
    update admin
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        admin_password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="gtmCreate != null">
        gtm_create = #{gtmCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gtmModified != null">
        gtm_modified = #{gtmModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.tyreadmin.entity.Admin">
    update admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      gtm_create = #{gtmCreate,jdbcType=TIMESTAMP},
      gtm_modified = #{gtmModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>